<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/<%= config.adminPath %>/goodsType/add" class="btn btn-primary">Add Big Category</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Add Time</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0;i < list.length;i++){ %>
                        <tr>
                            <td><%= list[i].title %></td>
                            <td><%= list[i].description %></td>
                            <td><%= helper.formatTime(list[i].add_time) %></td>
                            <td class="text-center">
                                <% if(list[i].status == 1){ %>
                                    <img src="/admin/images/yes.gif"
                                         onclick="app.changeStatus(this,'goodsType','status','<%= list[i]._id %>')"/>
                                <% }else{ %>
                                    <img src="/admin/images/no.gif"
                                         onclick="app.changeStatus(this,'goodsType','status','<%= list[i]._id %>')"/>
                                <% } %>
                            </td>
                            <td class="text-center">
                                <a href="/<%= config.adminPath %>/goodsTypeAttribute?id=<%= list[i]._id %>">Attribute
                                    List</a>　
                                <a href="/<%= config.adminPath %>/goodsType/edit?id=<%= list[i]._id %>">Modify</a>　
                                <a class="delete"
                                   href="/<%= config.adminPath %>/goodsType/delete?id=<%= list[i]._id %>">Delete</a>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>