<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Admin
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/manager/doEdit" method="post">
                        <ul>
                            <input type="hidden" name="_id" value="<%= adminResult._id %>"/>
                            <li> Usernmae: <input readonly type="text" name="username"
                                                  value="<%= adminResult.username %>"/></li>
                            <li> Password: <input type="password" name="password"/></li>
                            <li> Mobile: <input type="text" name="mobile" value="<%= adminResult.mobile %>"/></li>
                            <li> Email: <input type="text" name="email" value="<%= adminResult.email %>"/></li>
                            <li> Role:
                                <select name="role_id" id="role_id">
                                    <% for (var i = 0;i < roleList.length;i++) { %>
                                        <% if(roleList[i]._id.toString() == adminResult.role_id){ %>
                                            <option selected
                                                    value="<%= roleList[i]._id %>"><%= roleList[i].title %></option>
                                        <% }else{ %>
                                            <option value="<%= roleList[i]._id %>"><%= roleList[i].title %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </li>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>