<%- include('../public/page_header'); %>

<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        role auth
      </div>
      <div class="panel-body">
        <div class="table-responsive input-form">
          <form action="/<%= config.adminPath %>/role/doAuth" method="POST">
            <input type="hidden" name="role_id" value="<%= role_id %>">
            <table class="table table-bordered">
              <% for (let i = 0; i < list.length; i++) { %>
              <tr>
                <td align="right" style="background: #D8E2FA; padding-right: 10px; width: 150px;">
                  <label>
                    <input type="checkbox" class="module_cbo" value="<%= list[i]._id %>" name="access_node[]">&nbsp;&nbsp;
                    <%= list[i].module_name %>
                  </label>
                </td>
                <td>
                  <% for (let j = 0; j < list[i].items.length; j++) { %>
                  &nbsp;&nbsp;
                  <label>
                    <input type="checkbox" class="action_cbo" value="<%= list[i].items[j]._id %>" name="access_node[]">
                    &nbsp;&nbsp;<%= list[i].items[j].action_name %> </label>&nbsp;&nbsp;
                  <% } %>
                </td>
              </tr>
              <% } %>
            </table>
            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>