<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading clear">
                <!--                <span>You are editing: <%= goodsType.title %></span>-->
                <a href="/<%= config.adminPath %>/goodsTypeAttribute/add?id=<%= goodsType._id %>"
                   class="btn btn-primary fr">Add Attributes</a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>Title</th>
                        <th>Type</th>
                        <th>Input Method</th>
                        <th>Options</th>
                        <th>Add Time</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Operation</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(var i = 0;i < list.length;i++){ %>

                        <tr>
                            <td><%= list[i].title %></td>

                            <td><%= goodsType.title %></td>
                            <td>
                                <% if(list[i].attr_type == 1){ %>
                                    Textbox
                                <% }else if(list[i].attr_type == 2){ %>
                                    Textarea
                                <% }else if(list[i].attr_type == 3){ %>
                                    Selectbox
                                <% } %>
                            </td>
                            <td><%= list[i].attr_value %></td>

                            <td><%= helper.formatTime(list[i].add_time) %></td>

                            <td class="text-center">
                                <% if(list[i].status == 1){ %>
                                    <img src="/admin/images/yes.gif"
                                         onclick="app.changeStatus(this,'goodsTypeAttribute','status','<%= list[i]._id %>')"/>

                                <% }else{ %>
                                    <img src="/admin/images/no.gif"
                                         onclick="app.changeStatus(this,'goodsTypeAttribute','status','<%= list[i]._id %>')"/>
                                <% } %>

                            </td>

                            <td class="text-center">
                                <a href="/<%= config.adminPath %>/goodsTypeAttribute/edit?id=<%= list[i]._id %>">Modify</a>　
                                <a class="delete"
                                   href="/<%= config.adminPath %>/goodsTypeAttribute/delete?id=<%= list[i]._id %>&cate_id=<%= list[i].cate_id %>">Delete</a>
                            </td>
                        </tr>

                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>