<%- include ../public/page_header.ejs %>

<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Carousel
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/<%= config.adminPath %>/focus/doEdit" method="post" enctype="multipart/form-data">
                        <ul>
                            <input type="hidden" name="_id" value="<%= focus._id %>"/>
                            <li> Belongs to:
                                <select name="type" id="type">
                                    <option value="1" <% if(focus.type == 1){ %>selected
                                            <% } %>
                                    >Website
                                    </option>
                                    <option value="2" <% if(focus.type == 2){ %>selected
                                            <% } %>
                                    >APP
                                    </option>
                                    <option value="3" <% if(focus.type == 3){ %>selected
                                            <% } %>
                                    >Small App
                                    </option>
                                </select>
                            </li>
                            <li> Title: <input type="text" name="title" value="<%= focus.title %>"/></li>
                            <li> URL: <input type="text" name="link" value="<%= focus.link %>"/></li>
                            <li> Img: <input type="file" name="focus_img"/></li>
                            <br>
                            <img src="/<%= focus.focus_img %>" width="80"/>
                            <li> Sort: <input type="text" name="sort" value="<%= focus.sort %>"/></li>
                            <li> Status:
                                <input type="radio" name="status"
                                <% if(focus.status == 1){ %> checked
                                        <% } %>
                                       value="1" id="a"/> <label for="a">Display</label>
                                <input type="radio" name="status"
                                <% if(focus.status == 0){ %> checked
                                        <% } %>
                                       value="0" id="b"/><label for="b">Hide</label> 　
                            </li>
                            <li>
                                <br/>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>