<ul class="aside">
  <li>
    <h4>admin management</h4>
    <ul>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/manager">admin list</a></li>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/manager/add">add admin</a></li>
    </ul>
  </li>
  <li>
    <h4>role management</h4>
    <ul>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/role">role list</a></li>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/role/add">add role</a></li>
    </ul>
  </li>
  <li>
    <h4>access management</h4>
    <ul>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/access">access list</a></li>
      <li class="list-group-item"> <a target="rightMain" href="/<%= config.adminPath %>/access/add">add access</a></li>
    </ul>
  </li>
</ul>