<div class="banner_x center">
    <a href="/" target="">
        <div class="logo fl"></div>
    </a>

    <div class="nav fl">
        <ul class="clearfix" id="nav_list">
            <li class="link-category">
                <div class="banner_y">
                    <!--左侧导航开始 -->
                    <div class="nav">
                        <ul>
                            <% for(var i = 0;i < goodsCate.length;i++){ %>
                                <li>
                                    <% if(goodsCate[i].link != ""){ %>
                                        <a href="<%= goodsCate[i].link %>" target=""><%= goodsCate[i].title %></a>
                                    <% }else{ %>
                                        <a href="/category/<%= goodsCate[i]._id %>"><%= goodsCate[i].title %></a>
                                    <% } %>
                                    <div class="pop">
                                        <ol class="cate_list clear">
                                            <% for(var j = 0;j < goodsCate[i].items.length;j++){ %>
                                                <li>
                                                    <div class="xuangou_left">
                                                        <% if(goodsCate[i].items[j].link != ""){ %>
                                                            <a href="<%= goodsCate[i].items[j].link %>" target="">
                                                                <div class="img fl"><img
                                                                            src="/<%= goodsCate[i].items[j].cate_img %>"
                                                                            alt="<%= goodsCate[i].items[j].title %>">
                                                                </div>
                                                                <span class="fl"><%= goodsCate[i].items[j].title %></span>
                                                            </a>
                                                        <% }else{ %>
                                                            <a href="/category/<%= goodsCate[i].items[j]._id %>">
                                                                <div class="img fl"><img
                                                                            src="/<%= goodsCate[i].items[j].cate_img %>"
                                                                            alt="<%= goodsCate[i].items[j].title %>">
                                                                </div>
                                                                <span class="fl"><%= goodsCate[i].items[j].title %></span>
                                                            </a>
                                                        <% } %>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ol>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </li>

            <% for(var i = 0;i < middleNav.length;i++){ %>
                <li>
                    <a href="" target=""><%= middleNav[i].title %></a>
                    <% if(middleNav[i].subGoods && middleNav[i].subGoods.length > 0) { %>
                        <ol class="children-list clearfix">
                            <% for(var j = 0;j < middleNav[i].subGoods.length;j++){ %>
                                <li>
                                    <a href="">
                                        <img src="/<%= middleNav[i].subGoods[j].goods_img %>"/>
                                        <p><%= middleNav[i].subGoods[j].shop_price %></p>
                                    </a>
                                </li>
                            <% } %>
                        </ol>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
</div>